[Unit]
Description=argos presence detector

[Service]
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONPATH=$PYTHONPATH:/home/pi/argos
ExecStart=/home/pi/argos-presence-venv/bin/python /home/pi/argos-presence/presence.py --ip 0.0.0.0 --port 8000 --config config --camconfig camconfig
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target