[Unit]
Description=argos presence service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull angadsingh/argos-presence:armv7
ExecStart=/usr/bin/docker run --rm --name %n -p8000:8000 -v configs:/configs -v /home/pi/motion_frames:/motion_frames argos-presence --config configs.your_config --camconfig configs.your_camconfig

[Install]
WantedBy=multi-user.target
